
@media (min-width: 768px) {

.background{
        background-image: url('../images/bigscreen/background-enterance.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 120.41vw;
        top:0;
        position: relative;
        overflow: hidden;
        z-index: -1;
    }

    .main-nav {
        position: absolute;
        top: 0vw;
        left: 3.33vw;
        width: 30vw;
        transform-origin: left top;
        transform:rotate(-90deg) translateX(-100%);
    }

   .navbar-nav {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row; 
    }

    .nav-item {
        margin: 1.5vw;
    }

    .nav-link {
    text-decoration: none;
    font-weight: 500;
    }


    .main-text-container {
        margin-top: -100vw;
        z-index: 10;
        text-align: center;
    }

    .name {
        display: block;
        margin-left: 20.5vw;
        margin-top: -2.4vw;
    }

    .dive {
        margin-top: 33.5vw;
    }

    .me-designer {
        margin-top: 6vw;
        width: 45vw;
        margin-left: auto;
        margin-right: auto;
    }

    .i-believe {
        margin-top: 4vw;
        width: 33vw;
        margin-left: auto;
        margin-right: auto;
    }

    .about-me-button {
        display: inline-block;
        margin-top: 8vw;
        border-width: 1px;
        background-color: transparent;
        border-style: solid;
        border-color: #F1EBDC;
        border-radius: 16px;
        padding: 0.55vw 2.77vw;
    }


    .project-background{
        position: relative;
        background: linear-gradient(
            to bottom,
            rgba(21, 9, 3, 0) 0,
            rgba(21, 9, 3, 1) 10.7vw,
            #150903 86.32vw
        );
        height: 86.32vw;
        background-repeat: no-repeat;
        background-size: 100% auto; 
        z-index: 10;
        margin-top: 3.7vw;

    }
    
    .project-container{
        position: relative;
        width: 100%;
        height: 86.32vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
    }

    .project-hall{
        position: relative;
        left: auto;
        right:auto;
    }

    .project-hall-text{
        position: relative;
        left: auto;
        right:auto;
    }
    
    .swiper {
        width: 100vw;
        max-width: 100vw;
        margin: 0 auto;
        min-height: 33.89vw;
        display: flex;
        align-items: center;
        overflow: visible;
        padding: 0;
    } 

    
    .swiper-slide {
        flex: 0 0 66.33vw;      
        max-width: 66.33vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: -0.64vw;
        margin-top: 1vw;
    }
    
    .swiper-slide a {
        pointer-events: none;
        }

    .swiper-slide.swiper-slide-active a {
        pointer-events: auto;
    }

    .project-frame{
        display: block;
        margin-left: 0;
        margin-right: 0;
        width: 66.33vw;
        height: 33.89vw;
    }

    .see-all-button{
        box-sizing: border-box;
        border-width: 1px;
        background-color: transparent;
        border-style: solid;
        border-color: #F1EBDC;
        border-radius: 16px;
        padding: 0.55vw 2.77vw;
    }

    #about{
        height:182.56vw;
    }

    .curtain-wrapper {
        position: relative;
        width: 100%;
        height: 88vw;
    }

    .left-curtain {
        position: absolute;
        top: -4.1vw;
        left: 0;
        width: 50.07vw;
        height: 85vw;
        transform: scaleX(-1);
        z-index: 13;
    }

    .right-curtain {
        position: absolute;
        top: -4.1vw;
        right: 0;
        width: 50.07vw;
        height: 85vw;
        z-index: 12;
    }
    
    .hand{
        position: relative;
        top: 51.5vw;
        width: 36.54vw;
        height: 33.76vw;
        left: 1vw;
    }

    .center-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -71vw; 
        position: relative;
        z-index: 14; 
        text-align: center;
    }

    .profile-pic {
        width: 20.83vw;
        height: 31.25vw;
        object-fit: cover;
        margin-bottom: 3vw;
    }

    .the-face{
        margin-top: -1.5vw;
    }

    .learned{
        width: 36.32vw;
        margin-top: -0.5vw;
    }

    .skills-text{
        margin-top: 9vw;
        margin-bottom: -2vw;
    }

    .skills-section{
        max-width: 80vw;
        display: flex;
        gap: 2.22vw;
        flex-wrap: wrap;
        left:auto;
        right:auto;
        position: relative;
        margin-top: 2vw;
    }

    .skills-card{
        background-color: #941B2D;
        border-radius: 32px;
        display: flex;  
        align-items: center;
        padding-left:25px;
        width: 18.33vw;   
        height: 8.05vw;        
        box-sizing: border-box;
    }

    .skills img{
        height: 70%;
        border-radius: 16px;
        object-fit: cover;
    }

    .skills-card-text{
        padding-left: 1.67vw;
        text-align: left;
    }

    .skills-experience{
        color: rgba(241, 235, 220, 0.72);
        margin-top: -1.2vw;
    }

    .left-column{
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .right-column{
        position: absolute;
        right: 0;
        bottom: 0;
        transform: scaleX(-1);
    }

   .contact-texts {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20vw; 
        position: relative;
        text-align: center;
        gap: 0vw;
    }

    .contact-texts p {
        margin: 0; 
    }

    .contact-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        text-align: center;
        gap: 2.5vw;
        margin-top: 2vw;
    }

    .contact-form-name-email{
        width: 46.94vw;
        height: 4.31vw;
        border-radius: 16px;
        border: 1px solid #5F3413;
        background-color: transparent;
        padding-left: 2.5vw;

    }

    .contact-form-message{
        width: 46.94vw;
        height: 8.33vw;
        border-radius: 16px;
        background-color: transparent;
        border: 1px solid #5F3413;
        padding-left: 2.5vw;
        padding-top: 3vw;
        resize: none;
    }

    .send-button{
        padding: 0.55vw 2.77vw;
        border-radius: 16px;
        background-color: transparent;
        border-style: solid;
        border-color: #5F3413;
    }

    .contact-logos{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 2.222vw;
    }
}




@media (max-width: 768px) {

.background{
        background-image: url('../images/smallscreen/background-entrance.png');
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 276.137vw;
        overflow: hidden;
        z-index: -1;
    }

    
    .main-nav {
        width: 100%;
        margin-top: 8vw;
    }

   .navbar-nav {
        list-style: none;
        display: flex;
        flex-direction: row; 
        justify-content: center;
        align-items: center;
        gap: 14.1vw;

    }


    .main-text-container {
        margin-top: -202vw;
        z-index: 10;
        text-align: center;
    }

    .name {
        display: block;
        margin-left: 33.5vw;
        margin-top: -3.5vw;
    }

    .dive {
        margin-top: 58vw;
    }

    .me-designer {
        margin-top: 24vw;
        width: 85.45vw;
        margin-left: auto;
        margin-right: auto;
    }

    .i-believe {
        margin-top: 4vw;
        width: 85.45vw;
        margin-left: auto;
        margin-right: auto;
    }

    .about-me-button {
        display: inline-block;
        margin-top: 8vw;
        border-width: 1px;
        background-color: transparent;
        border-style: solid;
        border-color: #F1EBDC;
        border-radius: 16px;
        padding: 2.5vw 8vw;
    }


    .project-background{
        background: linear-gradient(
            to bottom,
            rgba(21, 9, 3, 0) 0,
            rgba(21, 9, 3, 1) 10.7vw,
            #150903 149.54vw
        );
        height: 149.54vw;
        background-repeat: no-repeat;
        background-size: 100% auto; 
        z-index: 10;
        margin-top: 5.7vw;

    }
    
    .project-container{
        position: relative;
        width: 100%;
        height: 149.54vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
    }

    .project-hall{
        position: relative;
        left: auto;
        right:auto;
    }

    .project-hall-text{
        position: relative;
        left: auto;
        right:auto;
    }
    
    .swiper {
        width: 100vw;
        max-width: 100vw;
        margin: 0 auto;
        min-height: 33.89vw;
        display: flex;
        align-items: center;
        overflow: visible;
        padding: 0;
    } 

    
    .swiper-slide {
        flex: 0 0 66.33vw;      
        max-width: 66.33vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: -0.64vw;
        margin-top: 1vw;
    }
    
    .swiper-slide a {
        pointer-events: none;
        }

    .swiper-slide.swiper-slide-active a {
        pointer-events: auto;
    }

    .project-frame{
        display: block;
        margin-left: 0;
        margin-right: 0;
        width: 73.66vw;
        height: auto;
    }

    .see-all-button{
        box-sizing: border-box;
        border-width: 1px;
        background-color: transparent;
        border-style: solid;
        border-color: #F1EBDC;
        border-radius: 16px;
        padding: 2.5vw 8vw;
        margin-top:10vw;
    }

    #about{
        height:504.54vw;
    }

    .curtain-wrapper {
        position: relative;
        width: 100%;
        height: 88vw;
    }

    .left-curtain {
        position: relative;
        top: -4.1vw;
        left: 0;
        width: 50vw;
        height: auto;
        transform: scaleX(-1);
        z-index: 13;
    }

    .right-curtain {
        position: absolute;
        top: -4.1vw;
        right: 0;
        width: 50vw;
        height: auto;
        z-index: 12;
    }
    
    .hand{
        position: absolute;
        top: 124.5vw;
        width: 30.73vw;
        left: 0vw;
        right: auto;
    }

    .center-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -71vw; 
        position: relative;
        z-index: 14; 
        text-align: center;
    }

    .profile-pic {
        width: 45.45vw;
        object-fit: cover;
        margin-bottom: 7.27vw;
        margin-top: 14vw;
    }

    .the-face{
        margin-top: -1.5vw;
    }

    .learned{
        width: 85.45vw;
        margin-top: -0.5vw;
    }

    .skills-text{
        margin-top: 9vw;
    }

    .skills-section{
        max-width: 92.7vw;
        display: flex;
        gap: 1.818vw;
        flex-wrap: wrap;
        left:auto;
        right:auto;
        position: relative;
        margin-top: 5.45vw;
    }

    .skills-card{
        background-color: #941B2D;
        border-radius: 32px;
        display: flex;  
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 29.54vw;   
        height: 44.54vw;        
        box-sizing: border-box;
    }

    .skills-card img{
        margin-top:5vw;
    }


    .skills-card-text{
        margin-top:1.81vw;
    }

    .skills-experience{
        margin-top: -4.2vw;
    }

    .left-column{
        position: absolute;
        left: 0;
        bottom: 0;
            box-sizing: border-box;

    }

    .right-column{
        position: absolute;
        right: 0;
        bottom: 0;
            box-sizing: border-box;

    }
    html, body {
    overflow-x: hidden;
}
   .contact-texts {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 60vw; 
        position: relative;
        text-align: center;
        gap: 0vw;
        width: 75.59vw;
        margin-left: auto;
        margin-right: auto;
    }

    .contact-texts p {
        margin: 0; 
    }

    .contact-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        text-align: center;
        gap: 2.5vw;
        margin-top: 2vw;
    }

    .contact-form-name-email{
        width: 75.59vw;
        height: 10.91vw;
        border-radius: 16px;
        border: 1px solid #5F3413;
        background-color: transparent;
        padding-left: 8.18vw;

    }

    .contact-form-message{
        width: 75.59vw;
        height: 21.14vw;
        border-radius: 16px;
        background-color: transparent;
        border: 1px solid #5F3413;
        padding-left: 8.18vw;
        padding-top: 7vw;
        resize: none;
    }

    .send-button{
        padding: 2.5vw 8vw;
        border-radius: 16px;
        background-color: transparent;
        border-style: solid;
        border-color: #5F3413;
    }

    .contact-logos{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 2.222vw;
    }
}