@media (min-width: 768px) {

    .main-nav {
        position: absolute;
        top: 7.66vw;
        left: 2.22vw;
        width: 23vw;
        transform-origin: left top;
        transform:rotate(-90deg) translateX(-100%);
        display: flex;
        gap:1.75vw;
    }
    
    .main-nav ul {
        display: flex;
        gap:1.75vw;
    }

    ul.nav li {    
        height:100%;
        
    }

    .background-leoo{
        background-image: url('../images/bigscreen/Leoo/leoo-background.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 324.0278vw;
        top:0;
        position: absolute;
        overflow: hidden;
        z-index: -1;
    }


    .background-paw{
        background-image: url('../images/bigscreen/paw/background-paw.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 304.0278vw;
        top:0;
        position: absolute;
        overflow: hidden;
        z-index: -1;
    }

    .background-quickly{
        background-image: url('../images/bigscreen/quickly/background-quickly.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 352.36vw;
        top:0;
        position: absolute;
        overflow: hidden;
        z-index: -5;
    }

    .background-re{
        background-image: url('../images/bigscreen/re/re-background.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 327.36vw;
        top:0;
        position: absolute;
        overflow: hidden;
        z-index: -5;
    }

    .background-sercan{
        background-image: url('../images/bigscreen/sercan/background-sercan.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 232.78vw;
        top:0;
        position: absolute;
        overflow: hidden;
        z-index: -5;
    }

    .background-smartfit{
        background-image: url('../images/bigscreen/smartfit/background-smartfit.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 360.27vw;
        top:0;
        position: absolute;
        overflow: hidden;
        z-index: -5;
    }

    .background-bacio{
        background-image: url('../images/bigscreen/bacio/background-bacio.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 310.625vw;
        top: 0;
        position: absolute;
        overflow: hidden;
        z-index: -5;
    }
    
    .background-arc{
        background-image: url('../images/bigscreen/arc/background-arc.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 374.72vw;
        top: 0;
        position: absolute;
        overflow: hidden;
        z-index: -5;
    }

    .curtain{
        position: absolute;
        right:0;
        top:0;
        max-width:38.95vw;
        z-index: -4;
    }

    .main-text-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 4.5vw;
        margin-left: 13.89vw;
        text-align: left;
        max-width: 65.25vw;
        gap: 0vw;
    }
    .main-text-container p{
        margin-bottom: 0.55vw;
        line-height: 1.2;
    }

    .title{
        margin-bottom:0vw;
        white-space: nowrap;
    }


    .goal-container{
        display: flex;
        gap: 0;
        flex-direction: row;
        height: 7.43vw;
        width: 65vw;
        margin-top: 2vw;
        margin-bottom: 2vw;
    }


    .goal, .goal-text{
        display: flex;
        align-items: center;
        height: 100%;
        padding: 2.5vw;
        justify-content: center;
        box-sizing: border-box;
    }

    .goal {
        background-color: #941B2D;
        border-radius: 32px 0 0 32px;

    }

    .goal-text{
        background-color: #F1EBDC;
        border-radius: 0 32px 32px 0;
    }

    p.goal-text{
        line-height: 1;
    }
   
    .skills{
        display: flex;
        flex-direction: row;
        gap: 2.77vw;
        flex-wrap: nowrap; 
        width: auto;       
    }

    .skills-text-logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5vw;
        }

    .kickoff{
        display: flex;
        flex-direction: column;
        width: 90.55vw;
        max-width: 90.55vw;
        align-items: flex-start;
        margin-left: 4.375vw;
        margin-top: 12vw;
    }
    .kickoff p{
        line-height: 1.2;
        margin:0.2vw;
    }

    .kickoff-title{
        margin-bottom: 2.22vw;
    }

    .kickoff-pictures-flex{
        margin-top: 2.22vw;
        display:flex;
        flex-direction: row;
        gap: 2.77vw;
        width: 90.55vw;
    }
    .kickoff-pictures-flex img{
        width: 100%;
        height: auto;
    }

    .kickoff-pictures-grid{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;  
        grid-template-rows: 1fr 1fr;     
        height: 27.77vw;
        width: 90.55vw;
        margin-top: 2vw;
    }

    .kickoff-quickly{
        width: 90.55vw;
        height:auto;
    }

    .kickoff-paw{
        width: 43.88vw;
        height: auto;
    }
   
    .bacio-kickoff1{
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        margin-right: 3.33vw;
        width: 52.22vw;

    }

     .bacio-kickoff2{
        grid-column: 2 / 4;
        grid-row: 1;
        margin-bottom: 2.778vw;
        width: 35vw;

    }
     .bacio-kickoff3{
        grid-column: 2 / 4;
        grid-row: 2  ;
        width: 35vw;

    }


    .pic1 {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        margin-right: 2.22vw;
        width: 44.44vw;
    }

    .pic2 {
        grid-column: 2 / 4;
        grid-row: 1 / 2;
        margin-bottom: 2.778vw;
        width: 43.88vw;
    }

    .pic3 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        margin-right: 2.5vw;
        width: 20.35vw;
    }

    .pic4 {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        width: 20.35vw;

    }
    
    .double-diamond-container{
        margin-top: 5vw;
        margin-left: 4.375vw;
    }

    .double-diamond-flex{
        margin-top: 1.22vw;
        display: flex;
        flex-direction: row;
        gap: 2.77vw;
        justify-content: flex-start;
        flex-wrap: wrap;
    }


    .double-diamond-cards{
        line-height: 1.1;
        display: flex;
        flex-direction: column;
        gap: 1.11vw;
        word-break: break-word;
    }

    .double-diamond-oneline{
        width: 20.55vw;
    }

    .double-diamond-cards img {
        max-width: 100%;
        height: auto;
        display: block;
    }

    .double-diamond-cards p{
        margin: 0;
    }


    .double-diamond-cards-multiple{
        display: flex;
        flex-direction: row;
        gap: 1.11vw;
        flex-wrap: wrap;
    }
    
    .double-diamond-cards-multiple img {
        flex: 1 1 auto;     
        min-width: 0;        
        max-width: 100%;
        height: auto;
    }

    .double-diamond-cards-header{
        display: flex;
        flex-direction: column;
    }

    .double-diamond-cards-header p {
        margin: 0;
    }

    .double-diamond-cards em {
        display: block;
        margin-bottom:-0.8vw;
    }

    .double-diamond-cards ul{
        margin:0;
    }

    .double-diamond-cards li{
        margin-bottom: 0.55vw;
        
    }

    .arc-width{
        width: 90.48vw;
        margin: -0.55vw;
    }

    .emphatize-quickly {
        width: 42.01vw;
    }

    .define-quickly{
        width: 46.52vw;
    }
    .ideation-quickly{
        width: 68.61vw;
    }
    .prototype-quickly{
        width: 19.93vw;
    }

    .think-re{
        width: 33.54vw;
    }
    
    .make-check-re{
        width: 53.96vw;
    }

    .benchmark-sercan{
        width: 29.51vw;
    }
    
    .identity-sercan{
        width: 25.625vw;
    }

    .ideation-sercan{
        width: 28.47vw;
    }

    .backlog-smartfit{
        width: 14.44vw;
    }

    .ideate-smartfit{
        width: 24.02vw;
    }

    .iterate-smartfit{
        width: 15.27vw;
    }

    .implement-smartfit{
        width: 28.47vw;
    }


    .arc-process-text{
        margin-bottom: 0.5vw !important;
    }


    .deliverables {
        margin-top: 15vw;
        margin-left: 4.375vw;
        margin-right: auto;
        max-width: 90.555vw;
    }

    .leoo-deliverables{
        margin-top: 10vw;
    }
    
    .deliverables-pictures{
        margin-top: 2.77vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2.77vw;
        row-gap: 2.77vw;
        column-gap: 2.77vw;

    }


    .re-deliverables{
        gap: 3.61vw;
        row-gap: 3.61vw;
        column-gap: 3.61vw;
    }

    

    .img1 {
        width: 51.11vw;
        height: auto;
    }

    .img2 {
        width: 36.60vw;
        height: auto;
    }


    .img3{
        width: 33.056vw;
        height: auto;
    }

    .img4{
        width: 54.51vw;
        height: auto;
    }

    .img5{
        width: 22.01vw;
        height: auto;
    }

    .img6{
        width: 20.07vw;
        height: auto;
    }

    .img7{
        width: 42.64vw;
        height: auto;
    }
    
    .paw-deliverables-pictures {
        margin-top: 2.77vw;
        display: grid;
        grid-template-columns: 45.42vw 42.29vw; 
        grid-template-rows: auto auto;           
        gap: 2.22vw;
        width: 90.55vw;
    }

    .paw-img1 {
        grid-column: 1; 
        grid-row: 1 / span 2; 
        width: 45.42vw;
    }

    .paw-img2 {
        grid-column: 2; 
        grid-row: 1;  
        width: 42.29vw;
    }

    .paw-img3 {
        grid-column: 2;
        grid-row: 2; 
        width: 42.29vw; 
    }

    .quickly-deliverables-pictures {
        margin-top: 2.77vw;
        display: grid;
        grid-template-columns: 40.625vw 47.91vw; 
        grid-template-rows: 34.79vw 84.65vw;           
        gap: 2.77vw;
    }

    .quickly-img1 {
        grid-column: 1; 
        grid-row: 1; 
        width: 40.625vw;
    }

    .quickly-img2 {
        grid-column: 2; 
        grid-row: 1;  
        width: 47.91vw;
    }

    .quickly-img3 {
        grid-column: 1/2;
        grid-row: 2;  
        width: 91.32vw;
    }
    
    .prototype-sercan1{
        width: 68.43vw;
    }

    .prototype-sercan2{
        width: 18.14vw;
    }

    .bacio-delivarble1{
        width: 46.667vw;
    }

    .bacio-delivarble2{
        width: 40.90vw;
    }

    .bacio-delivarble3{
        width: 34.79vw;
    }
    
    .bacio-delivarble4{
        width: 52.43vw;
    }

    .smartfit-deliverable1{
        width: 60.97vw;
    }
    .smartfit-deliverable2{
        width: 26.8vw;
    }
    .smartfit-deliverable3{
        width: 50.625vw;
    }
    .smartfit-deliverable4{
        width: 37.08vw;
    }
    .smartfit-deliverable5{
        width: 34.51vw;
    }
    .smartfit-deliverable6{
        width: 53.056vw;
    }


    .arc-deliverable1{
        width: 27.5vw;
    }

    .arc-deliverable2{
        width: 59.86vw;
    }

    .arc-deliverable3{
        width: 56.31vw;
    }

    .arc-deliverable4{
        width: 31.46vw;
    }
    
    .link-figma{
        margin-top: 4.44vw;
        display: flex;
        align-items: center;
        justify-self: center;
    }

    .link-website{
        margin-top: 1vw;
        display: flex;
        align-items: center;
        justify-self: center;
        text-decoration: underline;
        text-decoration-color: #FAF6EB;
    }

    .open-button-dark{
        width: 16.18vw;
        height: 3.33vw;
        padding: 0.55vw 2.77vw;
        border-width: 1px;
        background-color: transparent;
        border-style:solid;
        border-color:#F1EBDC;
        border-radius: 16px;
    }


    .open-button-dark:hover{
        background-color: #F1EBDC;
        color: #150903;
        border-color: #150903;
        cursor: pointer;
    }

    .similar {
        margin-top: 5.55vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.77vw;
}
    
    
    .swiper {
        width: 100%;
        overflow: visible;
    }

    
    .swiper-slide { 
        display: flex;
        justify-content: center;
        align-items: center;
        
        
    }
    
    .swiper-slide a {
        pointer-events: none;
        }

    .swiper-slide.swiper-slide-active a {
        pointer-events: auto;
    }
    
    
    .project-frame img{
        width: 66.53vw;
    }
   


    .footer{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 5.55vw;
        gap: 2.77vw;
    }

    .back-to-top{
        background-color: #F1EBDC;
        border-color:#150903;
        border-width: 1px;
        border-style: solid;
        border-radius: 16px;
        width: 19.86vw;
        height: 3.33vw;
        white-space: nowrap;
        padding: 0.55vw 2.77vw;
    }

    .contact-logos{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2.22vw
    }


}