html, body {
  overflow-x: hidden;
}
.project-slide {
  display: none;
}
.project-slide.active {
  display: block;
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

@media (min-width: 768px) {

    .heading1{
        font-family: 'Cinzel Decorative', serif;
        font-size: clamp(3rem, 9vw, 10rem);
    }

    .heading2{   
        font-family: 'Cinzel', serif;
        font-size: clamp(1.5rem, 3.33vw, 3.5rem);
    }

    .heading3 {
        font-family: 'Buenard', serif;
        font-weight: 700;
        font-size: clamp(1.25rem, 2.8vw, 3rem);
    }

    .tags{  
        font-family: 'Buenard', serif;
        font-weight: 400;
        font-size: clamp(1rem, 1.75vw, 1.75rem); 
    }

    .ctas {
        font-family: 'Cinzel Decorative', serif !important;
        font-size: clamp(1rem, 1.67vw, 1.625rem);
    }


    .para{
        font-family: 'Buenard', serif;
        font-weight: 400;
        font-size: clamp(0.875rem, 1.13vw, 1.3rem);
    }

    .captions{
        font-family: 'Buenard', serif;
        font-weight: 400;
        font-size: clamp(0.8125rem, 0.9vw, 0.875rem);
    }

    .dynalight{
        font-family: 'Dynalight', cursive;
        font-size: clamp(1.5rem, 3vw, 3rem);
        color: #FFFFFF;
    }

    .stonebeige{
        color: #F1EBDC;
    }

    .deepcave{
        color: #150903;
    }
    .browndrapes{
        color: #5F3413;
    }

    .bg-stonebeige{
        background-color: #F1EBDC;
    }

    .bg-deepcave{
        background-color: #150903;
    }

    .bg-browndrapes{
        background-color: #5F3413;
    }

    .background{
        background-image: url('../images/background-enterance.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 120.41vw;
        top:0;
        position: relative;
        overflow: hidden;
    }

    .main-nav {
        width:30vw;
        transform-origin: left top;
        transform:rotate(-90deg) translateX(-100%);
    }

    ul.nav li {    
        height:100%;
    }

    .main-text-container{
        position: absolute;
        top: 19vw;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
    }

    .name{
        position: relative;
        left: 11.5vw;
        top: -4.4vw;
    }

    .dive{
        position: relative;
        top: 28.5vw;
        
    }
    
    .me-designer{
        position: relative;
        top: 40.5vw;
        width: 45vw;
        left: 1vw;
    }

    .i-believe{
        position: relative;
        left: 7.2vw;
        top: 41.5vw;
        width: 33vw;
    }

    .about-me-button {
        position: relative;
        box-sizing: border-box;
        top: 50.5vw;
        border-width: 1px;
        background-color: transparent;
        border-style:solid;
        border-color:#F1EBDC;
        border-radius: 16px;
        padding: 0.5vw 2vw;
    }

    .project-container {
        background: linear-gradient(
            to bottom,
            rgba(21, 9, 3, 0) 0vw,
            rgba(21, 9, 3, 1) 34.02vw,
            #150903 34.02vw,
            #150903 86.32vw
        );
        background-position: center -10.7vw;
        height: 86.32vw;
        background-repeat: no-repeat;
        background-size: 100% auto;
    }

    .project-hall{
        position: relative;
        left: auto;
        right:auto;
        transform: translateX(-50%);
    }

    .project-hall-text{
        position: relative;
        left: auto;
        right:auto;
        transform: translateX(-50%);
    }

    .project-frame{
        position: relative;
        left: 50vw;
        width: 66.33vw;
        height: 33.89vw;
    }

    .see-all-button{
        position: relative;
        box-sizing: border-box;
        left:10vw;
        border-width: 1px;
        background-color: transparent;
        border-style:solid;
        border-color:#F1EBDC;
        border-radius: 16px;
        padding: 0.5vw 2vw;
        top:60vw;
    }

}