html, body {
  overflow-x: hidden;
}
.project-slide {
  display: none;
}
.project-slide.active {
  display: block;
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

@media (min-width: 768px) {

    .heading1{
        font-family: 'Cinzel Decorative', serif;
        font-size: clamp(3rem, 9vw, 10rem);
    }

    .heading2{   
        font-family: 'Cinzel', serif;
        font-size: clamp(1.5rem, 3.33vw, 3.5rem);
    }

    .heading3 {
        font-family: 'Buenard', serif;
        font-weight: 700;
        font-size: clamp(1.25rem, 2.8vw, 3rem);
    }

    .tags{  
        font-family: 'Buenard', serif;
        font-weight: 400;
        font-size: clamp(1rem, 1.75vw, 1.75rem); 
    }

    .ctas {
        font-family: 'Cinzel Decorative', serif !important;
        font-size: clamp(1rem, 1.67vw, 1.625rem);
    }


    .para{
        font-family: 'Buenard', serif;
        font-weight: 400;
        font-size: clamp(0.875rem, 1.17vw, 1.3rem);
    }

    .captions{
        font-family: 'Buenard', serif;
        font-weight: 400;
        font-size: clamp(0.8125rem, 0.9vw, 0.875rem);
    }

    .dynalight{
        font-family: 'Dynalight', cursive;
        font-size: clamp(1.5rem, 3vw, 3rem);
        color: #FFFFFF;
    }

    .stonebeige{
        color: #F1EBDC;
    }

    .deepcave{
        color: #150903;
    }
    .browndrapes{
        color: #5F3413;
    }

    .bg-stonebeige{
        background-color: #F1EBDC;
    }

    .bg-deepcave{
        background-color: #150903;
    }

    .bg-browndrapes{
        background-color: #5F3413;
    }

    .background{
        background-image: url('../images/background-enterance.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 120.41vw;
        top:0;
        position: relative;
        overflow: hidden;
        z-index: -1;
    }

    .main-nav {
        width:30vw;
        transform-origin: left top;
        transform:rotate(-90deg) translateX(-100%);
    }

    ul.nav li {    
        height:100%;
    }

    .main-text-container {
        margin-top: -101vw;
        z-index: 10;
        text-align: center;
    }

    .name {
        display: block;
        margin-left: 11.5vw;
        margin-top: -4.4vw;
    }

    .dive {
        margin-top: 33.5vw;
    }

    .me-designer {
        margin-top: 6vw;
        width: 45vw;
        margin-left: auto;
        margin-right: auto;
    }

    .i-believe {
        margin-top: 4vw;
        width: 33vw;
        margin-left: auto;
        margin-right: auto;
    }

    .about-me-button {
        display: inline-block;
        margin-top: 8vw;
        border-width: 1px;
        background-color: transparent;
        border-style: solid;
        border-color: #F1EBDC;
        border-radius: 16px;
        padding: 0.5vw 2vw;
    }


    .project-background{
        position: relative;
        background: linear-gradient(
            to bottom,
            rgba(21, 9, 3, 0) 0,
            rgba(21, 9, 3, 1) 10.7vw,
            #150903 86.32vw
        );
        height: 86.32vw;
        background-repeat: no-repeat;
        background-size: 100% auto; 
        z-index: 10;
        margin-top: 5.7vw;

    }
    
    .project-container{
        position: relative;
        width: 100%;
        height: 86.32vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
    }

    .project-hall{
        position: relative;
        left: auto;
        right:auto;
    }

    .project-hall-text{
        position: relative;
        left: auto;
        right:auto;
    }

    .project-frame{
        position: relative;
        left: auto;
        right:auto;
        width: 66.33vw;
        height: 33.89vw;
    }

    .see-all-button{
        position: relative;
        box-sizing: border-box;
        border-width: 1px;
        background-color: transparent;
        border-style:solid;
        border-color:#F1EBDC;
        border-radius: 16px;
        padding: 0.5vw 2vw;
    }

    #about{
        height:201vw;
    }

    .curtain-wrapper {
        position: relative;
        width: 100%;
        height: 88vw;
    }

    .left-curtain {
        position: absolute;
        top: -4.1vw;
        left: 0;
        width: 50.07vw;
        height: 85vw;
        transform: scaleX(-1);
        z-index: 13;
    }

    .right-curtain {
        position: absolute;
        top: -3.8vw;
        right: 0;
        width: 50.07vw;
        height: 85vw;
        z-index: 12;
    }
    
    .hand{
        position: relative;
        top: 58.5vw;
        width: 36.54vw;
        height: 33.76vw;
    }

    .center-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -71vw; 
        position: relative;
        z-index: 14; 
        text-align: center;
    }

    .profile-pic {
        width: 23.2vw;
        height: 34.72vw;
        object-fit: cover;
        margin-bottom: 5vw;
    }

    .learned{
        width: 36.32vw;
        margin-top: -1vw;
    }

    .skills{
        margin-top: 7vw;
        margin-bottom: -2vw;
    }



}
/*
* {
  border: 1px solid red;
}*/